
# Local environments
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.class
*.so
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
.venv/
venv/
ENV/
env/

# Node
node_modules/
dist/
dist-ssr/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Documents
~$*.pptx
*.pptx
*.tmp
*.bak
appcopy.py